html, body {
    height: 100%; /* Ensure that the body and html take full height */
    margin: 0; /* Remove default margin */
}

body {
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #333;
    color: #fff;
}

header {
    padding: 2px 0; /* Adjust padding as needed */
    text-align: center;
    font-size: 14px; /* Adjust font size */
}

header h1 {
    margin: 0;
    font-size: 20px; /* Adjust font size */
}

footer {
    padding: 2px 0; /* Adjust padding as needed */
    text-align: center;
    font-size: 12px; /* Adjust font size */
    margin-top: auto; /* Push the footer to the bottom */
}

main {
    flex: 1; /* Make sure the main content takes up the remaining space */
    padding: 20px; /* Adjust padding as needed */
    background-color: #f4f4f4; /* Background color of main content */
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    cursor: pointer;
}

.search-inputs {
    margin-bottom: 10px;
}

.search-inputs input {
    margin-right: 10px;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    table, th, td {
        display: block;
        width: 100%;
    }

    th, td {
        box-sizing: border-box;
        text-align: right;
        padding-left: 50%;
    }

    th {
        text-align: left;
    }

    td {
        position: relative;
        padding-left: 50%;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 45%;
        padding-left: 10px;
        font-weight: bold;
        text-align: left;
    }
}
