# Ignore node_modules directory if you're using npm for packages
node_modules/

# Ignore output directory from Jekyll if you're using it
_site/

# Ignore local environment files
.env

# Ignore temporary files created by your editor
*.swp
*.swo
*.tmp
*.log
*.DS_Store

# Ignore any build artifacts
/dist/
/build/

# Ignore compiled assets (e.g., SASS, TypeScript)
*.css.map
*.js.map
*.sass-cache/
/.vscode/

# Ignore package lock files
package-lock.json
yarn.lock
